{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row mb-3">
    <div class="col-md-4">
        <form method="get">
            <input type="text" name="q" class="form-control" placeholder="Search products..." value="{{ request.GET.q }}">
        </form>
    </div>
    <div class="col-md-4">
        <form method="get">
            <select name="category" class="form-control" onchange="this.form.submit()">
                <option value="">All Categories</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="col-md-4">
        <form method="get">
            <select name="sort" class="form-control" onchange="this.form.submit()">
                <option value="name" {% if request.GET.sort == 'name' %}selected{% endif %}>Sort by Name</option>
                <option value="price" {% if request.GET.sort == 'price' %}selected{% endif %}>Sort by Price</option>
                <option value="date_added" {% if request.GET.sort == 'date_added' %}selected{% endif %}>Sort by Date Added</option>
            </select>
        </form>
    </div>
</div>
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.image_url}}">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <button data-product={{product.id}} data-action="add"
                    class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display:inline-block; float:right;"><strong>
                {{product.price|floatformat:2}}
            </strong></h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}